# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# SQLite database
*.db
*.sqlite

# Local queuectl state
~/.queuectl/

# VS Code
.vscode/

# Build / packaging
build/
dist/
*.egg-info/
